@import "~bootstrap/scss/bootstrap";

// **************************
// GENERAL
// **************************
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
// **************************
// HEADER
// **************************
header {
    .scb-container-top {
        display: flex;
        justify-content: end;
    }
    .scb-top {
        font-size: 8px;
    }
    .logo-img,
    .scb-search {
        cursor: pointer;
    }
    img {
        width: 40px;
        margin-right: 40px;
    }
    a {
        font-size: 12px !important;
    }
    .scb-search {
        color: grey;
        font-size: 10px;
        img {
            width: 15px;
            margin-right: 0;
        }
        span {
            display: inline-block;
            border-bottom: 1px solid blue;
            width: 100px;
            text-align: end;
        }
    }
}

// **************************
// HERO
// **************************
.hero {
    margin: 0;
    padding: 0;
    img {
        width: 100%;
        margin: 0;
        padding: 0;
        height: 250px;
        object-fit: cover;
        object-position: top;
    }
    .scb-container {
        position: relative;

        button {
            position: absolute;
            top: -20px;
            left: 0;
        }
    }
}
